In [1]:
import seaborn as sd
import pandas as pd

In [7]:
iris = sd.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [8]:
X = iris.drop('species', axis=1)
X.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [38]:
y = iris['species']
y.head()

0    setosa
1    setosa
2    setosa
3    setosa
4    setosa
Name: species, dtype: object

In [39]:
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [17]:
iris['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [12]:
from sklearn.preprocessing import LabelEncoder

In [16]:
type(y), type(y[0])

(pandas.core.series.Series, str)

In [18]:
encoder = LabelEncoder()
y = encoder.fit_transform(y)
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [19]:
from sklearn.model_selection import train_test_split

In [45]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=25)

In [42]:
X_train.head(2)

    sepal_length  sepal_width  petal_length  petal_width
94           5.6          2.7           4.2          1.3
24           4.8          3.4           1.9          0.2

In [41]:
X_test.head(2)

     sepal_length  sepal_width  petal_length  petal_width
112           6.8          3.0           5.5          2.1
118           7.7          2.6           6.9          2.3

In [28]:
# y_train

array([1, 2, 2, 0, 2, 1, 1, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 1, 0, 2, 2, 0,
       0, 2, 1, 2, 2, 1, 2, 1, 2, 2, 1, 0, 2, 1, 2, 0, 1, 1, 0, 0, 2, 1,
       1, 0, 2, 1, 2, 1, 2, 0, 0, 1, 0, 0, 1, 2, 0, 2, 1, 1, 1, 2, 1, 0,
       2, 0, 0, 1, 1, 2, 2, 1, 0, 2, 0, 0, 1, 1, 0, 0, 0, 2, 2, 2, 2, 0,
       1, 2, 1, 0, 0, 1, 1, 2, 2, 2, 1, 0, 1, 2, 0, 0, 0, 2, 0, 1, 2, 1,
       0, 2, 1, 2, 2, 2, 1, 2, 1, 2])

In [29]:
# y_test

array([0, 1, 1, 1, 2, 1, 2, 0, 1, 1, 0, 0, 0, 2, 0, 1, 2, 2, 1, 1, 1, 1,
       1, 0, 0, 2, 1, 2, 2, 0])

In [43]:
X_train

     sepal_length  sepal_width  petal_length  petal_width
94            5.6          2.7           4.2          1.3
24            4.8          3.4           1.9          0.2
82            5.8          2.7           3.9          1.2
145           6.7          3.0           5.2          2.3
39            5.1          3.4           1.5          0.2
..            ...          ...           ...          ...
63            6.1          2.9           4.7          1.4
100           6.3          3.3           6.0          2.5
144           6.7          3.3           5.7          2.5
45            4.8          3.0           1.4          0.3
11            4.8          3.4           1.6          0.2

[120 rows x 4 columns]

In [50]:
X_test

     sepal_length  sepal_width  petal_length  petal_width
28            5.2          3.4           1.4          0.2
72            6.3          2.5           4.9          1.5
70            5.9          3.2           4.8          1.8
85            6.0          3.4           4.5          1.6
128           6.4          2.8           5.6          2.1
65            6.7          3.1           4.4          1.4
127           6.1          3.0           4.9          1.8
42            4.4          3.2           1.3          0.2
81            5.5          2.4           3.7          1.0
93            5.0          2.3           3.3          1.0
21            5.1          3.7           1.5          0.4
31            5.4          3.4           1.5          0.4
26            5.0          3.4           1.6          0.4
133           6.3          2.8           5.1          1.5
6             4.6          3.4           1.4          0.3
58            6.6          2.9           4.6          1.3
125           7.2          3.2           6.0          1.8
139           6.9          3.1           5.4          2.1
64            5.6          2.9           3.6          1.3
94            5.6          2.7           4.2          1.3
79            5.7          2.6           3.5          1.0
99            5.7          2.8           4.1          1.3
66            5.6          3.0           4.5          1.5
20            5.4          3.4           1.7          0.2
34            4.9          3.1           1.5          0.2
117           7.7          3.8           6.7          2.2
69            5.6          2.5           3.9          1.1
122           7.7          2.8           6.7          2.0
120           6.9          3.2           5.7          2.3
41            4.5          2.3           1.3          0.3

In [32]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(120, 4) (30, 4) (120,) (30,)

In [33]:
pd.Series(y_train).value_counts()

2    42
0    41
1    37
dtype: int64

In [44]:
y_train

array([1, 0, 1, 2, 0, 0, 0, 0, 1, 0, 0, 1, 2, 1, 0, 1, 2, 2, 0, 0, 0, 0,
       1, 2, 1, 1, 1, 1, 1, 0, 1, 0, 2, 0, 1, 0, 2, 1, 0, 1, 1, 1, 1, 2,
       2, 1, 0, 0, 0, 2, 2, 0, 2, 1, 2, 0, 0, 1, 1, 2, 0, 2, 2, 1, 0, 0,
       2, 2, 0, 2, 1, 1, 1, 1, 2, 1, 2, 0, 2, 2, 2, 0, 2, 0, 2, 2, 1, 2,
       0, 2, 1, 1, 2, 1, 1, 0, 1, 0, 1, 2, 2, 2, 0, 1, 0, 0, 0, 0, 2, 2,
       2, 1, 2, 1, 2, 1, 2, 2, 0, 0])

In [35]:
y

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, shuffle=True, stratify=y, random_state=25)

In [37]:
pd.Series(y_train).value_counts()

1    40
0    40
2    40
dtype: int64

In [47]:
stratify=y